<div class="footer-agile">
    <div class="container">
      <div class="footer-top-agileinfo"> 
        <div class="col-md-4 col-sm-4 footer-wthree-grid">  
          <div class="footer-w3logo">
            <h2 style="color:white"> Maharaja Banquet</h2>
          </div>
        </div> 
        <div class="clearfix"> </div>		
      </div>
      <div class="footer-btm-agileinfo">
        <!-- <div class="col-md-3 col-xs-3 footer-grid">
          <h3>Useful Info</h3>
          <ul>
            <li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Hendrerit quam</a></li>
            <li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Amet consectetur </a></li>
            <li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Iquam hendrerit</a></li>
            <li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Donec ut lectus </a></li>
          </ul>
        </div>  -->
        <div class="col-md-3 col-xs-3 footer-grid w3social">
          <h3>Social Media</h3>
          <div class="social-icon">
            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/Maharaja-Banquet-103594322227278/" target="_blank"  class="social-button facebook"><i class="fa fa-facebook"></i></a> 
            <a href="https://www.instagram.com/maharajaraxaul/" target="_blank" class="social-button facebook"><i class="fa fa-instagram"></i></a> 
          </div> 
        </div> 
        <div class="col-md-6 col-xs-6 footer-grid footer-review">
          <h3>Newsletter</h3>
          <form action="#" method="post">
            <input type="email" name="Email" placeholder="Your Email" required="">
            <input type="submit" value="Subscribe"> 
            <div class="clearfix"> </div>
          </form> 
          <div class="copy-w3lsright"> 
            <p>© 2021 Maharaja Bouquet . All rights reserved </p>
          </div> 
        </div> 
        <div class="clearfix"> </div>
      </div>   
    </div>
  </div> 