<div id="contact" class="map map-pos">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14223.228661151647!2d84.8487546!3d26.9730053!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x10130f4d84416f78!2sMaharaja%20Banquet%20Hall!5e0!3m2!1sen!2sin!4v1641751105994!5m2!1sen!2sin"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<div class="footer-agile">

  <div class="container">
    <div class="footer-top-agileinfo">
      <div class="col-md-4 col-sm-4 footer-wthree-grid">
        <div class="footer-w3logo">
          <h2 style="color:white"> Maharaja Banquet</h2>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="footer-btm-agileinfo">
      <!-- <div class="col-md-3 col-xs-3 footer-grid">
          <h3>Useful Info</h3>
          <ul>
            <li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Hendrerit quam</a></li>
            <li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Amet consectetur </a></li>
            <li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Iquam hendrerit</a></li>
            <li><a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-menu-right"></i>Donec ut lectus </a></li>
          </ul>
        </div>  -->
      <div class="col-md-3 col-xs-3 footer-grid w3social">
        <h3>Social Media</h3>
        <div class="social-icon">
          <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/Maharaja-Banquet-103594322227278/" target="_blank"
            class="social-button facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/maharajaraxaul/" target="_blank" class="social-button facebook"><i
              class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-xs-6 footer-grid footer-review">

        <div class="copy-w3lsright">
          <p>© 2022 Maharaja Bouquet . All rights reserved </p>
        </div>
        <div class="copy-w3lsright">
          <p>Total Visitors </p>
        </div>
        <!-- hitwebcounter Code START -->
        <a href="https://www.hitwebcounter.com" target="_blank">
          <img
            src="https://hitwebcounter.com/counter/counter.php?page=8030634&style=0009&nbdigits=5&type=page&initCount=140"
            title="Free Counter" Alt="web counter" border="0" /></a>

      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- hitwebcounter Code START -->
