<!-- <div class="team">
    <div class="container"> 
      <h3 class="agileits-title">Our Review</h3> 
      <div class="team-agileinfo agileits-w3layouts">
        <div class="col-md-6 team-grid w3-agileits">
          <div class="team-grid-right">
            <img src="../../assets/images/t1.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="team-grid-left">
            <h4>Magnam aliquam</h4>
            <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
              ut labore et dolore magnam aliquam quaerat voluptatem</p>
          </div> 
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-6 team-grid w3-agileits">
          <div class="team-grid-right aliquam">
            <img src="../../assets/images/t2.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="team-grid-left non">
            <h4>Numquam eius</h4>
            <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
              ut labore et dolore magnam aliquam quaerat voluptatem</p>
          </div> 
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="team-agileinfo">
        <div class="col-md-6 team-grid w3-agileits">
          <div class="team-grid-right">
            <img src="../../assets/images/t3.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="team-grid-left">
            <h4>Tempora incidu</h4>
            <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
              ut labore et dolore magnam aliquam quaerat voluptatem</p>
          </div> 
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-6 team-grid w3-agileits">
          <div class="team-grid-right aliquam">
            <img src="../../assets/images/t4.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="team-grid-left non">
            <h4>Aliquam magnam</h4>
            <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
              ut labore et dolore magnam aliquam quaerat voluptatem</p>
          </div>
          
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div> -->