<mat-tab-group mat-align-tabs="start" >
    <mat-tab label="Employee">
      <div style="display: flex;" >
      
        <mat-card style="flex: 1 1 auto;">
               <data-table [type]="'employee'"></data-table>
        </mat-card>
      </div>
    </mat-tab>
    
     <mat-tab label="Hotel">
      <div >
        <mat-card  class="card-style">
          <hotel-table [type]="'hotel'"></hotel-table>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Enquiry">
      <div >
        <mat-card  class="card-style">
        <enquiry-table></enquiry-table>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Booking Cash Inflow">
      <div >
        <mat-card  class="card-style">
       <in-cashflow></in-cashflow>
        </mat-card>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Rate Card">
      <div >
        <mat-card  class="card-style">
            <data-table ></data-table>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Attendance">
        <div >
          <mat-card  class="card-style">
            <data-table ></data-table>
          </mat-card>
        </div>
      </mat-tab> -->
   
  </mat-tab-group>
  