<mat-tab-group mat-align-tabs="start" >
 
  <mat-tab label="Pending Booking Invoice">
    <div >
      <mat-card  class="card-style">
        <pending-cashflow></pending-cashflow>
    
      </mat-card>
    </div>
  </mat-tab>
     <mat-tab label="Cash Flow">
      <div >
        <mat-card  class="card-style">
          <in-cashflow></in-cashflow>
      
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Enquiry">
      <div >
        <mat-card  class="card-style">
        <enquiry-table></enquiry-table>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="App User">
      <div >
        <mat-card style="background: gray;"  class="card-style">
          <hotel-table [type]="'App User'"></hotel-table>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Receiving">
      <div >
        <mat-card  class="card-style">
          <receiving></receiving>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Media">
      <div >
        <mat-card  class="card-style">
          <div style="display: flex;" >
            <mat-card style="flex: 1 1 auto;">
                   <data-table [type]="'media'"></data-table>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Debt">
      <div >
        <mat-card  class="card-style">
          <div style="display: flex;" >
            <mat-card style="flex: 1 1 auto;">
                 <app-debt></app-debt>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Enquiry">
      <div >
        <mat-card  class="card-style">
          <div style="display: flex;" >
            <mat-card style="flex: 1 1 auto;">
                 <enquiry></enquiry>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
  