<mat-tab-group mat-align-tabs="start" >

  <mat-tab *ngIf="!isManager" label="Pending Booking Invoice">
    <div >
      <mat-card  class="card-style">
        <pending-cashflow></pending-cashflow>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Cash Flow 2023-2024">
    <div >
      <mat-card  class="card-style">
        <cash-in-flow-24-25 ></cash-in-flow-24-25>
      </mat-card>
    </div>
  </mat-tab>
     <mat-tab *ngIf="!isManager" label="Cash Flow 2022-2023 (CLOSED)">
      <div >
        <mat-card  class="card-style">
          <in-cashflow [isManager]="false"></in-cashflow>
        </mat-card>
      </div>
    </mat-tab>

    <!-- cash in flow 2024-2025 -->
   

    <mat-tab label="Manager Cash Flow">
      <div >
        <in-cashflow [isManager]="true"></in-cashflow>
      </div>
    </mat-tab>

    <mat-tab label="Enquiry">
      <div >
        <mat-card  class="card-style">
        <enquiry-table></enquiry-table>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="App User">
      <div >
        <mat-card style="background: gray;"  class="card-style">
          <hotel-table [type]="'App User'"></hotel-table>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Receiving">
      <div >
        <mat-card  class="card-style">
          <receiving></receiving>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Media">
      <div >
        <mat-card  class="card-style">
          <div style="display: flex;" >
            <mat-card style="flex: 1 1 auto;">
                   <data-table [type]="'media'"></data-table>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab *ngIf="!isManager" label="Debt">
      <div >
        <mat-card  class="card-style">
          <div style="display: flex;" >
            <mat-card style="flex: 1 1 auto;">
              <app-debt></app-debt>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Enquiry">
      <div >
        <mat-card  class="card-style">
          <div style="display: flex;" >
            <mat-card style="flex: 1 1 auto;">
                 <enquiry></enquiry>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab> -->
    <mat-tab label="Attendance">
      <div >
        <mat-card  class="card-style">
          <div style="display: flex;" >
            <mat-card style="flex: 1 1 auto;">
                 <app-attendance (isReady)="isReadyToLoad($event)"></app-attendance>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
  