<h2 mat-dialog-title>{{modalMetaData.header}}</h2>

<mat-dialog-content class="mat-typography" [formGroup]="mediaForm">
  <mat-form-field>
    <mat-label>Select Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="photos">Photos</mat-option>
      <mat-option value="videos">Videos</mat-option>
    </mat-select>
    </mat-form-field>
  <p>
    <div *ngIf="mediaForm.get('type')?.value === 'photos'">
      <input type="file" style="display: none" #fileInput accept="*" (change)="onChangeFileInput($event)" />
      <button  class="file-select-button"
        (click)="onClickFileInputButton()">
        <mat-icon>attach_file</mat-icon>
        Upload Media
      </button>

      <p class="file-name" *ngIf="!file; else fileName"></p>
      <ng-template #fileName>
        <p *ngIf="mediaForm.get('proof')?.value === ''" class="file-name">{{ file?.name }}</p>
        <p style="color:green;" *ngIf="fileuploaded">Media Has Been Uploaded</p>
      </ng-template>

    </div>
    <div *ngIf="mediaForm.get('type')?.value === 'videos'">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Youtube Video ID</mat-label>
          <input formControlName="mediaSource" matInput placeholder="Enter Youtube Video ID">
        </mat-form-field>
      </p>
    </div>

    <div class="demo-button-container">
      <p style="text-align: center;">
        <button slot="center"  mat-raised-button (click)="submit()"
          class="demo-button">
          Submit
        </button>
      </p>
    </div>


</mat-dialog-content>
