<div class="demo-button-container">
    <button  mat-raised-button (click)="addEmployee()" class="demo-button">
      Add Employee
    </button>
    <button
        mat-raised-button
        (click)="uploadSalarySlip()"
        class="demo-button">
      Upload Salary Slip
    </button>
  </div>
  

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container *ngIf="type === 'employee'">
        <ng-container matColumnDef="position">
            <th mat-header-cell class="bold-header" *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="employeeName">
            <th mat-header-cell class="bold-header" *matHeaderCellDef> Employee Name </th>
            <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
          </ng-container>

          <ng-container matColumnDef="contact">
            <th mat-header-cell class="bold-header" *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="department">
            <th mat-header-cell  class="bold-header" *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
          </ng-container>
      
          <ng-container matColumnDef="salary">
              <th mat-header-cell class="bold-header" *matHeaderCellDef> Salary </th>
              <td mat-cell class="hyper hover"  *matCellDef="let element"> {{element.salary}} </td>
            </ng-container>
            <ng-container matColumnDef="documentProof">
              <th mat-header-cell class="bold-header" *matHeaderCellDef> Document Proof </th>
              <td mat-cell class="hyper hover" *matCellDef="let element" (click)="viewDocumentProof(element.documentProof) "> View</td>
            </ng-container>
            <ng-container matColumnDef="joiningDate">
              <th mat-header-cell class="bold-header" *matHeaderCellDef> Joining Date </th>
              <td mat-cell *matCellDef="let element"> {{element.joiningDate|date}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell class="bold-header" *matHeaderCellDef> Action </th>
              <td class="hover" mat-cell *matCellDef="let element" (click)="deleteEmployee(element.contact)"> <mat-icon>delete_forever</mat-icon>
              </td>
            </ng-container>
    </ng-container>
  
    <!-- Symbol Column -->

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  