.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .chip_debited {
    display: inline-block;
    padding: 0 25px;
    height: 41px;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    border-radius: 25px;
    margin-bottom: 14px;
    background-color: #e1c0c0;
  }
  