

        <div class="contact">
          <div class="container">
            <h3 class="agileits-title">Contact Us</h3>   
            <div class="contact-info">	
              <div class="col-md-4 contact-grids">
                <div class="cnt-address">
                  <h5 class="w3ls-title1">Address</h5> 
                  <p>Maharaja Banquet, Pankaj Chowk
                    <span>Mawesi Hospital, Near Raxaul Diesel</span>
                    Raxaul, Bihar. 845305
                  </p> 
                  <p>Telephone: +919572177693 | +918970777693 <br>
                    E-mail: <a href="mailto:support@maharajaraxaul.com">support@maharajaraxaul.com</a>
                  </p>
                  <a href='https://play.google.com/store/apps/details?id=io.com.maharaja&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
                </div>
              </div>
              <div class="col-md-8 contact-grids contact-grids-w3right">
                <div class="contact-form">  
                  <form [formGroup]="contactForm" action="#" method="post">
                    <textarea formControlName="message" name="Message" placeholder="Message" required=""></textarea><br>
                    <input formControlName="name" type="text" name="First Name" placeholder="Enter Your Name" required="">
                    <input formControlName="phone" type="text" name="phone" placeholder="Enter Your Phone Number" required=""><br>
                    <br>
                    <input  formControlName="email" type="email" name="Email" placeholder="Enter Your Email Id" required=""> 
                    <!-- <input (change)="submit()" [disabled]="contactForm.status === 'INVALID'" type="submit" value="SUBMIT"> -->
                    <button mat-stroked-button style="color:black" [disabled]="contactForm.status === 'INVALID'" (click)="submit()">Submit</button>
                

                  </form> 
                </div>
              </div> 
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>