<h2 mat-dialog-title>{{modalMetaData.header}}</h2>
<div class="demo-button-container">
  <button [disabled]="hotelForm.status === 'INVALID'" mat-raised-button (click)="submit()" class="demo-button">
    Add Employee
  </button>
</div>

<mat-dialog-content class="mat-typography" [formGroup]="hotelForm">
    <p>
        <mat-form-field appearance="legacy">
          <mat-label>Customer Name</mat-label>
          <input formControlName="customerName" matInput placeholder="Enter Customer Name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
         
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Contact Number</mat-label>
          <input formControlName="contactNumber" matInput placeholder="Enter Contact Number">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Purpose</mat-label>
          <input formControlName="purpose" matInput placeholder="Enter Purpose">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Amount Paid</mat-label>
          <input formControlName="amountPaid" matInput placeholder="Enter Amount Paid">
        </mat-form-field>
      </p>
      <p>
            <mat-form-field appearance="legacy">
                <mat-label>Date</mat-label>
                <input formControlName="date" matInput [matDatepicker]="dp" >
                <mat-hint>MMMM DD, YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
      </p>

      <p>
        <div >
            <input  type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput($event)" />
            <button [disabled]="!isDisable" mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
              <mat-icon>attach_file</mat-icon>
             Upload Proof
            </button>
          
            <p class="file-name" *ngIf="!file; else fileName"></p>
            <ng-template #fileName>
              <p *ngIf="hotelForm.get('proof')?.value === ''" class="file-name">{{ file?.name }}</p>
              <p style="color:green;" *ngIf="fileuploaded">File Has Been Uploaded</p>
            </ng-template>
            
          </div>
       <p>
        

          
</mat-dialog-content>
