<div id="home" class="banner">
  <div class="agileinfo-main">
    <div class="slider">
      <ul class="rslides" id="slider1">
        <li> 
          <div class="banner-w3lstext">
            <h3>
              <img  src="../../assets/images/logo.png" class="" alt=""/>
            </h3>
          </div>	
        </li>
      </ul>
    </div>	
    <div class="agileinfo-header">
      <div class="container">
        <div class="agile-logo">
          <h1><a href="index.html"><img src="../../assets/images/i1.png" class="img-responsive" alt=""/>   </a></h1>
        </div>
        <div class="agileits-w3layouts-icons">
          <div class="social-icon w3-agile">
            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/Maharaja-Banquet-103594322227278/" target="_blank"  class="social-button facebook"><i class="fa fa-facebook"></i></a> 
            <a href="https://www.instagram.com/maharajaraxaul/" target="_blank" class="social-button facebook"><i class="fa fa-instagram"></i></a> 
          </div> 
        </div>
        <div class="clearfix"> </div>
      </div>	    
    </div>
    <!-- navigation start here -->
  </div>
</div> 

<!-- our-service -->
<our-service></our-service>
<!-- End of our-service -->

<!-- Review Page -->
<!-- <review-page></review-page> -->
<!-- End Of Review Page -->

<!-- Photo Gallery -->
<photogallery [title]="'Gallery'"></photogallery>
<!-- End Of Photo Gallery -->
<!-- Photo Gallery -->
<!-- <photogallery [title]="'Videos'"></photogallery> -->
<!-- End Of Photo Gallery -->
<!-- 
<div class="testimonials" style="margin-top: -108px;">
  <div class="container" style="width: 50%;">
<hr>
   <inline-calendar [isPublic]="true"></inline-calendar>
  </div>
</div> -->
<!-- Contact Us -->
<contact-us></contact-us>
<!-- End Of Contact Us -->

<!-- footer -->
<footer></footer>
<!-- End Of Footer -->
