<div id="home" class="banner">
  <div class="agileinfo-main">
    <div class="slider">
      <ul class="rslides" id="slider1">
        <li> 
          <div class="banner-w3lstext">
            <h3>Welcome To Maharaja Banquet </h3>
          </div>	
        </li>
        <li> 
          <div class="banner-w3lstext">
            <h3>Opening Soon In Raxaul. </h3>
          </div>	
        </li>
        <li>	
          <div class="banner-w3lstext">
            <h3>Sem fringilla blandit duis euismod massa ut. Enim nec ipsum finibus proin vel. </h3>
          </div>	
        </li>
      </ul>
    </div>	
    <div class="agileinfo-header">
      <div class="container">
        <div class="agile-logo">
          <h1><a href="index.html"><img src="../../assets/images/i1.png" class="img-responsive" alt=""/> Bouquet</a></h1>
        </div>
        <div class="agileits-w3layouts-icons">
          <div class="social-icon w3-agile">
            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
            <a href="https://www.instagram.com/mbhraxaul/" target="_blank" class="social-button facebook"><i class="fa fa-instagram"></i></a> 
          </div> 
        </div>
        <div class="clearfix"> </div>
      </div>	    
    </div>
    <!-- navigation start here -->
  </div>
</div> 

<div id="about" class="about w3-agile">
  <div class="container">
    <div class="about-agileinfo-row">
      <h3 class="agileits-title">Coming Soon</h3> 
      <div class="col-md-12 col-sm-12 about-w3grids about-w3left">
        <p></p>
      </div>
      <div class="col-md-4 col-sm-4 about-w3grids about-w3limg">
        <img src="images/img1.jpg" class="img-responsive" alt=""/> 
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div> 

<!-- our-service -->
<!-- <our-service></our-service> -->
<!-- End of our-service -->

<!-- Review Page -->
<!-- <review-page></review-page> -->
<!-- End Of Review Page -->

<!-- Photo Gallery -->
<!-- <photogallery></photogallery> -->
<!-- End Of Photo Gallery -->

<!-- <div class="testimonials">
  <div class="container" style="width: 50%;">
    <h3 class="agileits-title">Booking Slots Availability</h3>  
   <inline-calendar [isPublic]="true"></inline-calendar>
  </div>
</div> -->

<!-- Contact Us -->
<contact-us></contact-us>
<!-- End Of Contact Us -->

<!-- footer -->
<!-- <footer></footer> -->
<!-- End Of Footer -->
