<div id="services" class="services">
    <div class="container">  
      <h3 class="agileits-title">Our Services</h3> 
      <div class="services-w3ls-row agileits-w3layouts">
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <h5>Cum soluta nobis</h5>
          <p>Sapiente delectus maiores itaque earum rerum hic tenetur a alias phasellus lorem fermentum lobortis fusce eu semper lacus.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <h5>Soluta vum nobis</h5>
          <p>Tenetur a sapiente itaque earum rerum hic delectus maiores alias phasellus lorem fermentum lobortis fusce eu semper lacus.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
          <i class="fa fa-wheelchair" aria-hidden="true"></i>
          <h5>Nobis cum soluta</h5>
          <p>Itaque earum rerum hic tenetur a sapiente delectus maiores alias phasellus lorem fermentum lobortis fusce eu semper lacus.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid bottom-grids">
          <i class="fa fa-bell-o" aria-hidden="true"></i>
          <h5>Delectus in auctor</h5>
          <p>Earum rerum hic tenetur a alias sapiente delectus maiores itaque phasellus lorem fermentum lobortis fusce eu semper lacus.</p>
        </div> 
        <div class="clearfix"> </div>
      </div>  
    </div>
  </div>