<!-- <div id="services" class="services">
    <div class="container">  
      <h3 class="agileits-title">Our Services</h3> 
      <div class="services-w3ls-row agileits-w3layouts">
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
        
          <h5>Marriage & Reception</h5>
          <p>Maharaja Banquet lush with all the facilities required in marriage & reception, we provide AC Main Hall, Delux Room, Mini AC Hall, Kitchen , First Floor and with absoulte complimentary DG witb Diesel.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
          
          <h5>Ring Cermony</h5>
          <p>We Provide Venue For Ring Cermony & Dekha Suni, Customer Can Book Premises Based On Their Requirements.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">

          <h5>Birthday Party</h5>
          <p>We Erge Customer For Celebrating Birthday Party At Our Venue Which Make Birthday Memoriable.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid bottom-grids">
          
          <h5>Other</h5>
          <p>We Accept booking for events such as meetup and business metting</p>
        </div> 
        <div class="clearfix"> </div>
      </div>  
    </div>
  </div> -->
<section  class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">About Us</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class=" md:w-full px-8 py-6  border-gray-200 border-opacity-60">

        <p class="leading-relaxed text-base mb-4">
          Our banquet hall is the perfect venue for hosting all of your special events. Whether you're planning a
          wedding reception, birthday party, corporate event, or any other celebration, we have the space and amenities
          to make your event a success. The hall features a spacious and elegant design, with high ceilings and plenty
          of natural light.Our professional staff will work with
          you to create a customized layout that meets your specific needs. Additionally, our state-of-the-art lighting
          will ensure that your event is well-lit and well-heard. The hall also has a separate bridal
          room, private entrance and ample parking space. Contact us today to schedule a tour and
          reserve your date.
        </p>

      </div>

    </div>
  </div>
</section>
<section style="background-color: #dfdfdf;" class="text-gray-600 body-font">

  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Our Services</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Marriage & Reception</h2>
        <p class="leading-relaxed text-base mb-4">Maharaja Banquet lush with all the facilities required in marriage &
          reception, we provide AC Main Hall, Delux Room, Mini AC Hall, Kitchen , First Floor and with absoulte
          complimentary DG witb Diesel.</p>

      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Ring Cermony</h2>
        <p class="leading-relaxed text-base mb-4">We Provide Venue For Ring Cermony & Dekha Suni, Customer Can Book
          Premises Based On Their Requirements.</p>

      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Birthday Party</h2>
        <p class="leading-relaxed text-base mb-4">We Erge Customer For Celebrating Birthday Party At Our Venue Which
          Make Birthday Memoriable.</p>

      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Other</h2>
        <p class="leading-relaxed text-base mb-4">We Accept booking for events such as meetup and business metting</p>

      </div>
    </div>
  </div>
</section>