<div id="services" class="services">
    <div class="container">  
      <h3 class="agileits-title">Our Services</h3> 
      <div class="services-w3ls-row agileits-w3layouts">
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
          <!-- <i class="fa fa-line-chart" aria-hidden="true"></i> -->
          <h5>Marriage & Reception</h5>
          <p>Maharaja Banquet lush with all the facilities required in marriage & reception, we provide AC Main Hall, Delux Room, Mini AC Hall, Kitchen , First Floor and with absoulte complimentary DG witb Diesel.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
          <!-- <i class="fa fa-heart-o" aria-hidden="true"></i> -->
          <h5>Ring Cermony</h5>
          <p>We Provide Venue For Ring Cermony & Dekha Suni, Customer Can Book Premises Based On Their Requirements.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
          <!-- <i class="fa fa-wheelchair" aria-hidden="true"></i> -->
          <h5>Birthday Party</h5>
          <p>We Erge Customer For Celebrating Birthday Party At Our Venue Which Make Birthday Memoriable.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 services-grid bottom-grids">
          <!-- <i class="fa fa-bell-o" aria-hidden="true"></i> -->
          <h5>Other</h5>
          <p>We Accept booking for events such as meetup and business metting</p>
        </div> 
        <div class="clearfix"> </div>
      </div>  
    </div>
  </div>