<p>
  <mat-toolbar>
    <!-- <span style="color:white">MAHARAJA BOOKING MANAGEMENT SYSTEM</span> -->
    <span style="color: white;font-weight: bold;"> MAHARAJA BANQUET BOOKING MANAGEMENT SYSTEM v1.0</span>
    <mat-icon style="color: white;" (click)="openMobileVersion()"> mobile_screen_share</mat-icon>

  </mat-toolbar>
</p>

<ng-container *ngIf="!isAuthenticate">
  
  <my-login-form [error]="error" (submitEM)='open($event)'>Your Form With Error Message</my-login-form>
</ng-container>

<mat-tab-group mat-align-tabs="start" *ngIf="isAuthenticate">
  <mat-tab label="Dashboard">
    <div style="display: flex;" *ngIf="isAuthenticate">
      <mat-card  class="card-style">
        <management></management>
      </mat-card>
      <mat-card style="flex: 1 1 auto;">
        <inline-calendar ></inline-calendar>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab *ngIf="!isManager" label="Ledger">
    <div style="display: flex;" *ngIf="isAuthenticate">
      <mat-card  class="card-style">
        <iframe width='100%' height='1500' src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQEBvuCqtHOq5QVwPPztJqureUe09G4THHRQ1TV8YIw-1CrGbDpIgTT72A567y30nTTlVbrzJaCsm_T/pubhtml?widget=true&amp;headers=false"></iframe>
      </mat-card>
    </div>
  </mat-tab>

 
 
</mat-tab-group>




