<p>
  <mat-toolbar color="dark">
    <!-- <span style="color:white">MAHARAJA BOOKING MANAGEMENT SYSTEM</span> -->
    <span class="ankit">MAHARAJA BOOKING MANAGEMENT SYSTEM</span>

  </mat-toolbar>
</p>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Booking">
    <div style="display: flex;" *ngIf="isAuthenticate">
      <mat-card  class="card-style">
        <enquiry ></enquiry>
      </mat-card>
      <mat-card style="flex: 1 1 auto;">
        <inline-calendar ></inline-calendar>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Communication">
    <div *ngIf="isAuthenticate">
      <mat-card  class="card-style">
       <qrcode-gen></qrcode-gen>
      </mat-card>
   
    </div>
  </mat-tab>
 
</mat-tab-group>




<div *ngIf="!isAuthenticate" class="parent"  >
<form [formGroup]="loginForm" class="example-form">
  <mat-form-field  class="example-full-width" appearance="outline">
    <mat-label>Username</mat-label>
    <input formControlName="username" matInput placeholder="Please enter username">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" formControlName="password" matInput placeholder="Please enter password">
  </mat-form-field>
</form>
<button (click)="login()" mat-raised-button color="warn">Login</button>
</div>
