mat-toolbar{
   background: #2980b9;
  }
  .example-card {
    max-width: 300px;
    margin-bottom: 50px;
    float: left;
}
.card-style {
    flex: 2 1 auto;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-tab-label{
  font-weight: bold;
}

label {
  font-weight: bold;
}

/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
  font-weight: 700;
}
