<p>
  <mat-toolbar>
    <!-- <span style="color:white">MAHARAJA BOOKING MANAGEMENT SYSTEM</span> -->
    <span style="color: white;font-weight: bold;"> MAHARAJA BANQUET BOOKING MANAGEMENT SYSTEM v1.0</span>
    <mat-icon style="color: white;" (click)="openMobileVersion()"> mobile_screen_share</mat-icon>

  </mat-toolbar>
</p>

<ng-container *ngIf="!isAuthenticate">
  
  <my-login-form [error]="error" (submitEM)='open($event)'>Your Form With Error Message</my-login-form>
</ng-container>

<mat-tab-group mat-align-tabs="start" *ngIf="isAuthenticate">
  <mat-tab label="Booking">
    <div style="display: flex;" *ngIf="isAuthenticate">
      <mat-card  class="card-style">
        <enquiry ></enquiry>
      </mat-card>
      <mat-card style="flex: 1 1 auto;">
        <inline-calendar ></inline-calendar>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab  label="Management">
    <div >
      <mat-card  class="card-style">
      <management></management>
      </mat-card>
   
    </div>
  </mat-tab>
 
</mat-tab-group>




